{% extends "base.html" %}

{% block content %}
<div class="movies-container">

    <a href="{% url 'movie_create' %}">
        <div class="add-movie">Add Movie</div>
    </a>

    {% for movie in object_list %}
    <div class="movie-card">
        <div class="title-genre">
            <span>{{movie.title}}</span>
            <span>{{movie.genre}}</span>
            <div>
                <a href="{% url 'movie_update' movie.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="20">
                        <path
                            d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                </a>
                <a href="{% url 'movie_delete' movie.id %}">
                    <svg class="trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="20">
                        <path
                            d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="description">
            <span>{{movie.description}}</span>
        </div>
        <div class="rating">
            <span>{{movie.rating}}</span>
            <span>{{movie.released}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}