.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.movie-card {
    width: 400px;
    min-height: 100px;
    height: auto;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(45, 47, 56);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    background-color: rgb(206, 214, 255);
}

.title-genre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-size: 12px;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-movie {
    width: 80px;
    height: 30px;
    background-color: rgb(68, 161, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
}

.add-movie:hover {
    background-color: rgb(61, 133, 205);
}

a {
    text-decoration: none;
    color: white;
}

.trash:hover {
    fill: rgb(255, 52, 52);
}